<!DOCTYPE html>
<html>
  <head>
    <title>topology</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>topology</h1>
    <p>Welcome to topology</p>
  </body>
</html>
